<div class="container">

  <table border="1">
    <tr>
      <th>WhoID</th>
      <th>ActivityDate</th>
    </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.whoid %></td>
        <td><%= task.activitydate %></td>
      </tr>
    <% end %>
  </table>

</div>
